# ==================== PYTHON ====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
*.egg-info/
dist/
build/

# ==================== IDE / EDITORS ====================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ==================== SYSTEM ====================
.DS_Store
Thumbs.db

# ==================== LOGS / TEMP FILES ====================
*.log
*.tmp
*.bak

# ==================== LOCAL / SENSITIVE CONFIGURATIONS ====================
# config.yaml
# secrets.json
aws/
awscliv2.zip

# ==================== TERRAFORM ====================
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
crash.log
.terraform.lock.hcl   # opcjonalnie, jeśli chcesz zamrozić wersje providerów

# ==================== NOTE ====================
# The files and folders listed above are not required for the project to run,
# but are specific to the local machine, IDE, Python session, Terraform, or AWS.

